body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  font-family: "Press Start 2P", cursive;
  color: #fff;
}
.upload-box {
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 500px;
  width: 100%;
}
h1 {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
}
.small-btn {
  width: 60px;

  display: block;
}
